@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@400;500;600;700&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@theme{
  --font-fahkwang: "Fahkwang", sans-serif;
  --font-syne: "Syne", sans-serif;
  --font-proxima: "proxima-n-w01-reg", sans-serif;
}

@font-face {
  font-family: proxima-n-w01-reg;
  font-style: normal;
  font-display: swap;
  font-weight: 400,500,600,700,800;
  src: url("/src/assets/fonts/proxima-n-w01-reg.woff2") format("woff2");
}

@layer utilities{
  .custom-cursor{
    cursor: url(/src/assets/img/cursor.svg), pointer;
  }
}
